.itemForm {
    margin: auto;
    text-align: center;
    border-radius: 2em;
    padding: 1em;
    background-color: mintcream;
    -webkit-box-shadow: 3px 3px 16px 0px lightslategrey;
    -moz-box-shadow: 3px 3px 16px 0px lightslategrey;
    -o-box-shadow: 3px 3px 16px 0px lightslategrey;
    box-shadow: 3px 3px 16px 0px lightslategrey;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: large;
    position: fixed;
    bottom: 10%;
    right: 2%;
    width: 20em;
    transition-duration: 500ms;
}

.addBtn:hover {
   font-size: large;
   font-weight: bolder;
   transition-timing-function: ease-in-out;
   transform: rotate(180deg);
   transition-duration: 500ms;
   cursor: pointer;
}

.close {
    text-align: center;
    border-radius: 5em;
    background-color: lavender;
    padding: 1%;
    color: purple;
}

.close:hover {
  cursor: pointer;
  background-color: #d39df7;
  transition-duration: 300ms;
}

.itemIn {
  padding: 2%;
  width: 85%;
  border-radius: 20px;
  border: 1px solid purple;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: medium;
  color: purple;
  text-indent: 30px;
}

.borrowBtn, .bestowBtn {
  padding: 3%;
  border: none;
  border-radius: 3em;
  width: 45%;
  margin: 2%;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: medium;
  background-color: #f66cfb;
}

.borrowBtn {
  background-color: #a262fb;
}

.borrowBtn:hover {
  cursor: pointer;
  background-color: #d0b9fa;
  transition-duration: 300ms;
}

.bestowBtn:hover {
  cursor: pointer;
  background-color: #f8d3fb;
  transition-duration: 300ms;
}

@media only screen and (max-width: 412px) {
  .itemForm {
    width: 17em;
    font-size: x-small;
  }

  .itemIn {
    font-size: x-small;
  }

  .borrowBtn, .bestowBtn {
    font-size: x-small;
  }
}
