.logo {
  height: 10em;
  width: 25em;
  margin: auto;
}

.app {
  display: flex;
  flex-flow: column;
  margin-top: 5em;
}

.error, .warning {
  font-size: x-small;
  padding: 1%;
  border-left: 3px solid #f66cfb;
  border-right: 3px solid #f66cfb;
  border-radius: 1em;
  color: #5f0357;
  margin: 1%;
  background-color: #f3d1f48f;
  text-align: center;
  width: 95%;
}

@media only screen and (max-width: 400px) {
  .logo {
    height: 85%;
    width: 85%
  }
}
