.logo {
  height: 10em;
  width: 25em;
  margin: auto;
}

.app {
  display: flex;
  flex-flow: column;
  margin-top: 5em;
}


::-webkit-input-placeholder {
  color: purple;
}

:-moz-placeholder {
  color: pruple;
}

::-moz-placeholder {
  color: purple;
}

:-ms-input-placeholder {
  color: purple;
}

::-ms-input-placeholder {
  color: purple;
}

:placeholder-shown {
  color: purple;
}
