.itemCard {
  margin: 5em auto;
  width: inherit;
  text-align: left;
  border-radius: 1em;
  padding: 1em;
  background-color: #f114f863;
  -webkit-box-shadow: 3px 3px 16px 0px lightslategrey;
  box-shadow: 3px 3px 16px 0px lightslategrey;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: large;
  height: auto;
}

h1 {
  border-bottom: 3px solid #92d9fa;
  text-align: center;
}


.btns {
  text-align: center;
}
