.itemCard {
  list-style: none;
  padding: 1em;
  margin: 1em;
  background-color: #f114f863;
  -webkit-box-shadow: 3px 3px 16px 0px lightslategrey;
  box-shadow: 3px 3px 16px 0px lightslategrey;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: large;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f114f863), to(mintcream));
  background-image: -webkit-linear-gradient(#f114f863, mintcream);
  background-image: -o-linear-gradient(#f114f863, mintcream);
  background-image: linear-gradient(#f114f863, mintcream);
}

h1 {
  border-bottom: 3px solid #92d9fa;
  text-align: center;
}


.btns {
  text-align: center;
}
