h1 {
  text-align: center;
}


.btns {
  text-align: center;
}

.btns:hover {
  cursor: pointer;
}

.card {
  border: 3px solid #f9b6fc;
  border-radius: inherit;
  padding: 1%;
}

.editIn {
  border-radius: 3em;
  padding: .5em;
  font-size: large;
  background-size: contain;
  text-indent: 3em;
  margin: .5em auto;
  border: none;
  width: 95%;
  background-color: mintcream;
}

.editWhenIn {
  background-image: url('/when.png');
  background-size: 1.5em;
  background-position-x: 0.5em;
  background-repeat: no-repeat;
  background-position-y: .3em;
}

.editItemForm {
  border: 3px solid #f9b6fc;
  border-radius: inherit;
  padding: 1%;
}

@media only screen and (max-width: 780px) {
  .editIn {
    font-size: small;
  }
}
