.filters {
  width: 100%;
  text-align: center;
  max-height: 3em;
  margin-top: -2em;
  margin-bottom: 1.5em;
}

.icons {
  height: 1.5em;
  width: 1.5em;
  padding: 1em;
  border-radius: 1em;
}

.filterList {
      float: left;
}

.icons:hover {
  box-shadow: inset 0px 0px 20px purple;
  transition-duration: 500ms;
}

.filter {
  list-style: none;
  display: inline;
}
