.filters {
  width: 100%;
  text-align: center;
  max-height: 3em;
  margin-top: -2em;
  margin-bottom: 1.5em;
  float: left;
}

.icons {
  height: 2em;
  width: 2em;
  margin: .8em;
  margin-left: .3em;
  margin-top: 1em;
}

.filterList {
  float: left;
  padding: 0;
}

.icons:hover {
  cursor: pointer;
  padding: 2%;
  transition-duration: 500ms;
}

.filter {
  list-style: none;
  display: inline;
}

.searchInput {
  background-image: url('/search.png');
  width: 2.5em;
  height: 2.5em;
  margin-top: 2.3em;
  margin-left: .3em;
  -webkit-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d571d7;
  border: 1px solid white;
  border-radius: 2em;
  padding: .5em;
  float: left;
}

.searchInput:focus {
    width: 33%;
}

.optionsBtn {
  position: fixed;
  top: 1em;
  right: 1em;
  height: 1.5em;
  width: 1.5em;
}

.optionsBtn:hover {
  cursor: pointer;
}

.head {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-bottom: 1px solid #d571d7;
}

@media only screen and (max-width: 720px) {
  .icons {
    height: 1.5em;
    width: 1.5em;
  }

  .searchInput {
    height: 2em;
    width: 2em;
  }

  .searchInput:focus {
      width: 33%;
  }

  }
