
header {
  width: 100%;
  position: fixed;
  top: -1em;
  right: 0;
  margin: auto 0;
  background-color: mintcream;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  z-index: 3;
}

.greeting {
  padding-left: 1%;
  font-size: large;
  margin-top: 2em;
  flex: 1;
}
