.items {
  padding: 1em;
}

.listContainer {
  margin-top: 5.5em;
}

.bestowed, .borrowed {
  list-style: none;
  padding: 1em;
  margin: .5em;
  background-color: #f29bf5;
  -webkit-box-shadow: 3px 3px 16px 0px lightslategrey;
  box-shadow: 3px 3px 16px 0px lightslategrey;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: large;
  border-bottom-right-radius: 2em;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.bestowed:hover {
  font-weight: bolder;
  background-color: #fdcafff7;
  transition-duration: 500ms;
}

.borrowed:hover {
  font-weight: bolder;
  background-color: #b380fb9e;
  transition-duration: 500ms;
}

.borrowed {
  background-color: #b380fb;
}

.editBtn {
  background-image: url('/edit.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2em;
  height: 2.5em;
  width: 48%;
  border: none;
  text-align: center;
  border-radius: 5em;
  background-color: lavender;
  margin: 1%;
}

img {
  height: 10%;
  width: 10%;
}

.whatItem {
  background-image: url('/what.png');
  background-repeat: no-repeat;
  background-color: #f5fffa66;
  border-radius: 3em;
  width: auto;
  padding: .5em;
  font-size: large;
  background-size: contain;
  text-indent: 3em;
}

.whoItem {
  background-image: url('/who.png');
  background-repeat: no-repeat;
  background-color: #f5fffa66;
  border-radius: 3em;
  width: auto;
  padding: .5em;
  font-size: large;
  background-size: contain;
  text-indent: 3em;
}

.whenItem {
  background-image: url('/when.png');
  background-size: 1.5em;
  background-position-x: 0.5em;
  background-repeat: no-repeat;
  background-position-y: .3em;
  background-color: #f5fffa66;
  border-radius: 3em;
  width: auto;
  padding: .5em;
  font-size: large;
  text-indent: 3em;
}

.trashBtn {
  background-image: url(/trash.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2em;
  height: 2.5em;
  width: 48%;
  border: none;
  text-align: center;
  border-radius: 5em;
  background-color: lavender;
  margin: 1%;
}

.itemName {
  margin: 0;
  transition-duration: 500ms;
}
