.loginForm {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin: auto;
  padding: 3%;
  text-align: center;
  color: purple;
}

.logInput {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  border: 1px solid purple;
  background-color: mintcream;
  padding: 2%;
  color: purple;
  border-radius: 5px;
  margin: auto;
  width: 12em;
}

.loginForm {
  float: right;
}

.logBtn {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  border: 1px solid purple;
  padding: 2%;
  border-radius: 5px;
  margin: auto;
  width: 12.5em;
  margin-top: 1em;
  color: black;
  background-color: #f66cfb;
}

.logBtn:hover {
  cursor: pointer;
  background-color: #f49ef8;
}

.formLoad {
  animation-name: loading;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
