.optionsBox {
  float: right;
  padding: 1.5em;
  list-style: none;
  position: fixed;
  top: -1em;
  right: 0;
  background-color: mintcream;
  border-left: 1px solid #f66cfb;
  border-bottom: 1px solid #f66cfb;
  border-bottom-left-radius: 2em;
  animation-name: menuPop;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
}

.optionsClose {
  width: 8em;
  padding: 5%;
  margin: 3%;
  border-radius: 1em;
  font-weight: bold;
  color: purple;
  background-color: lavender;
  text-decoration: none;
  text-align: center;
}

.optionsClose:hover {
  cursor: pointer;
  background-color: #d39df7;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.logoutBtn, .deleteUserBtn, .infoBtn, .contactBtn {
  width: 8em;
  padding: 5%;
  margin: 3%;
  border-radius: 1em;
  font-weight: bold;
  color: black;
  background-color: #f66cfb;
  text-decoration: none;
  margin-top: 1em;
}

 a {
  text-decoration: none;
}

.logoutBtn:hover, .infoBtn:hover, .contactBtn:hover {
  cursor: pointer;
  background-color: #f9b0fc;
}

.deleteUserBtn:hover {
  cursor: pointer;
  background-color: #4605a5;
  color: white;
}

@media only screen and (max-width: 780px) {
  .optionsBox {
    font-size: small;
  }
}


@keyframes menuPop {
  0% {
    right: -12em;
  }
  100% {
    right: 0;
  }
}
