.signupForm {
  background-color: mintcream;
  padding: 1em;
  border: 2px solid #92d9fa;
  border-radius: 1em;
  font-family: 'Nunito', sans-serif;
  color: purple;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.suContainer {
  background-color: #92d9fa;
}

.sfIn {
  border-radius: 1em;
  border: none;
  padding: 1%;
  background-color: #92d9fa59;
  color: purple;
  font-size: medium;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #92d9fa;
}

.suHead {
  border-bottom: 2px solid #92d9fa;
  padding: .3em;
}

.signupBtn {
  border-radius: 1em;
  padding: 1%;
  font-size: large;
  background-color: #d571d7;
  width: 10em;
  margin: 1% auto;
  color: black;
  border: 1px solid #92d9fa;
}

.signupBtn:hover {
  cursor: pointer;
  background-color: #f49ef8;
}

.thankYou {
  background-color: mintcream;
  border: 1px solid mintcream;
  border-radius: inherit;
  height: 20em;
  margin: 3em auto;
  padding: 1em;
}

.tyMsg {
  margin: 4em auto;
  font-weight: bold;
}

.tyLink {
  background-color: #92d9fa;
  border-radius: inherit;
  padding: 1em;
}

.demo {
  background-color: lavender;
  border-radius: inherit;
  padding: 1em;
}

.demoInfo {
  background-color: mintcream;
  border-radius: inherit;
  padding: 1em;
}

.demoMsg {
  color: purple;
}

.bold {
  font-weight: bold;
}
